body {
  margin: 0px;
}
.footerall {
  color: #707070;
  background-color: #282828;
  overflow-x: hidden;
}
.footerall img {
  /* width: 35px;
  height: 35px; */
      max-width: 9%;
      margin-right: 16px;

}
.footer-part1 {
  /* display: flex;
  justify-content: space-evenly; */
  /* background-color: #282828; */
  padding: 22px 0;
}
h4 {
  color: #ff9900;
  font-size: 21px;
}
.ceo {
  padding-left: 270px;
}

.footer-icon {
  /* display: flex; */
  margin: 10px 0px;
}
.footer-icon * {
  display: inline-block;
}
.footer-icon img {
  /* margin-right: 10px; */
}
/* .footer-part1-3 img {
  width: 35px;
  height: 35px;
} */
/****************** part 2*********************************/
.footer-part2 {
  background-color: #221e1b;
  /* height: 75px;
  display: flex;
  justify-content: space-evenly; */
  padding: 15px;
}
.footer-part2 * {
  /* margin: 15px; */
  display: inline-block;
}
.line {
  width: 1px;
  height: 14px;
  background-color: #707070;
  margin: 0 4px;
  position: relative;
  top: 2px;

}
/* .footer-part2-1 {
  display: flex;
  justify-content: space-between;
}
.footer-part2-2 {
  display: flex;
  justify-content: center;
} */
.gradient-custom-3 {
  /* fallback for old browsers */
  background: #FF9900;


  /* Chrome 10-25, Safari 5.1-6 */
  background: black;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: whitesmoke;
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #FF9900
  ;
color:#fff;
  /* Chrome 10-25, Safari 5.1-6 */
  background: #FF9900;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #FF9900;
}
.gradient-custom-4:hover,
.gradient-custom-4:active,
.gradient-custom-4:focus,
.gradient-custom-4:visited {
  background: #d37e00;
}

.offer
{
    margin: 17px;
    padding: 10px 0;

}

.offer img{
   /* width: 18rem; */
   max-height: 253px;
   max-width: 253px;
}   
.product .card,
.offer .card{
  width: 18rem; border: 3px solid #FF9900;
}