body {
  margin: 0px;
}
.footerall {
  color: #707070;
  background-color: #282828;
  overflow-x: hidden;
}
.footerall img {
  /* width: 35px;
  height: 35px; */
      max-width: 9%;
      margin-right: 16px;

}
.footer-part1 {
  /* display: flex;
  justify-content: space-evenly; */
  /* background-color: #282828; */
  padding: 22px 0;
}
h4 {
  color: #ff9900;
  font-size: 21px;
}
.ceo {
  padding-left: 270px;
}

.footer-icon {
  /* display: flex; */
  margin: 10px 0px;
}
.footer-icon * {
  display: inline-block;
}
.footer-icon img {
  /* margin-right: 10px; */
}
/* .footer-part1-3 img {
  width: 35px;
  height: 35px;
} */
/****************** part 2*********************************/
.footer-part2 {
  background-color: #221e1b;
  /* height: 75px;
  display: flex;
  justify-content: space-evenly; */
  padding: 15px;
}
.footer-part2 * {
  /* margin: 15px; */
  display: inline-block;
}
.line {
  width: 1px;
  height: 14px;
  background-color: #707070;
  margin: 0 4px;
  position: relative;
  top: 2px;

}
/* .footer-part2-1 {
  display: flex;
  justify-content: space-between;
}
.footer-part2-2 {
  display: flex;
  justify-content: center;
} */
.gradient-custom-3 {
  /* fallback for old browsers */
  background: #FF9900;


  /* Chrome 10-25, Safari 5.1-6 */
  background: black;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: whitesmoke;
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #FF9900
  ;
color:#fff;
  /* Chrome 10-25, Safari 5.1-6 */
  background: #FF9900;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #FF9900;
}
.gradient-custom-4:hover,
.gradient-custom-4:active,
.gradient-custom-4:focus,
.gradient-custom-4:visited {
  background: #d37e00;
}

.offer
{
    margin: 17px;
    padding: 10px 0;

}

.offer img{
   /* width: 18rem; */
   max-height: 253px;
   max-width: 253px;
}   
.product .card,
.offer .card{
  width: 18rem; border: 3px solid #FF9900;
}
.floating{
  position: fixed;
  right: 10px;
  bottom: 12px;
}
.floating img{
  max-width: 52px;
}

/**************  floating Cart ****************/
.floating_cart {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 76px;
  max-height: 78%;
  overflow-y: scroll;

  margin-left: 30px;
  background-color: rgb(243, 243, 243);
  border-radius: 24px;
  border: 3px solid #ff9900;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;

}
.floating_cart .part1 img{
width: 28px;
height: min-content;
margin-right: 10px;
}
.floating_cart .pizzapp{
  width: 70px;
  height: min-content;
  margin-right: 16px;
}
.floating_cart .bin{
  width: 20px;
}
/* .btnzz{
  color: black;
} */
/* .hhh{
  height: 15px;
} */
.floating_cart p{
  margin: 0px !important;
}
.floating_cart .margneto{
  margin: 1.5rem 3rem 1rem 3rem;
}
.floating_cart .btnplus{
  background-color: rgb(243, 243, 243);
  border-radius: 50%;
  border: 2px solid #ff9900;
}
.floating_cart .btnn{
  padding: 5px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  border: 2px solid #ff9900;
  font-size: 1.2rem;
}
.floating_cart .in1:hover{
  color: aliceblue;
  background-color: #ff9900;
  transition-duration: 0.4s;
}



